@model IEnumerable<StudentHousing.Models.ListingModel>
@{
    ViewData["Title"] = "Index";
}
<div >
    <h2>You will see the listings here!!!!</h2>
    <a class="btn btn-success" asp-action="Create">Create New Listing</a>
</div>
<br/>
<div>
    <div class="row">
        @foreach (var ListingItem in Model)
        {

        <div class=" col-md-4 col-xs-6 ">
            <div id="contentdiv" style="border: 1px solid;">
                @*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
            @foreach (String imgsrc in ListingItem.GetImagesToSrc())
             {
            <div class="carusel-item">
                <img class="d-block img-fluid" src="@imgsrc" alt="Slide" style="max-height:300px; max-width: 300px">
            </div>
            }
            </div>*@
                <div class="carusel-item">
                    @if (@ListingItem.GetImagesToSrc().FirstOrDefault() != null) {
                    <img class="d-block img-responsive" src="@ListingItem.GetImagesToSrc().FirstOrDefault()" alt="Slide">
                    }
                </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        
                        <h2>@ListingItem.Name </h2>
                        <h3>@ListingItem.Id</h3>
                        <h3>@ListingItem.Rent</h3>
                        <h3 style=" max-width: 100px; overflow-x: hidden;">
                            @ListingItem.Description
                    </h3>
                    <a class="btn btn-success center-block" asp-action="ViewItem" asp-route-id="@ListingItem.Id">Details</a>
                </div>       
        }
    </div>
    </div>
    
    
   

    @*<table class="table-responsive">
        <thead class="danger">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ListingItem in Model)
    {
        <tr>
            <td> @ListingItem.Id</td>
            <td> @ListingItem.Name</td>
            <td> @ListingItem.Description</td>
            <td><a class="btn btn-default" asp-action="ViewItem" asp-route-id="@ListingItem.Id">Details</a></td>

            <td><a class="btn btn-default" asp-action="Edit" asp-route-id="@ListingItem.Id">Edit</a></td>
        </tr>
}
        </tbody>
    </table>

        <a class="btn btn-danger" asp-action="Create">New Listing</a>
</div>*@